<div class="creative-macbook-background">
	<div>
		<h1 class="text-center lead"><span class="spin">db</span>creative</h1>
	</div>
</div>

<div class="about-us-background">
	<h1 class="text-center text-secondary">About</h1>
	<div class="about-us-text">
		<p class="lead text-center text-secondary">digitalbingecreative was founded with the intention of transforming the way businesses interact with their clients and how they are represented online. Succulents yuccie chicharrones, sustainable green juice williamsburg vexillologist iceland photo booth shabby chic. Keffiyeh leggings cold-pressed schlitz yr taxidermy. Godard listicle lomo knausgaard butcher 90's ethical yuccie pork belly sriracha man bun heirloom flexitarian keytar. Brunch banh mi blog prism neutra. Hexagon jean shorts direct trade kickstarter. Chambray health goth snackwave photo booth tote bag disrupt, fingerstache artisan DIY wayfarers tattooed coloring book pork belly microdosing trust fund. La croix readymade letterpress church-key, kitsch subway tile flexitarian selvage flannel thundercats.</p>
	</div>
	<div class="about-us-text">
		<h1 class="text-center text-secondary">Team</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-xs-12">
				<div class="text-center"><%= image_tag("dave.jpg", class: "img-fluid profile-img") %></div>
				<h3 class="text-center text-secondary">Dave</h3>
				<p class="text-center text-secondary">Chambray health goth snackwave photo booth tote bag disrupt, fingerstache artisan DIY wayfarers tattooed coloring book pork belly microdosing trust fund. La croix readymade letterpress church-key, kitsch subway tile flexitarian selvage flannel thundercats.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-xs-12">
				<div class="text-center"><%= image_tag("converge1.jpg", class: "img-fluid profile-img") %></div>
				<h3 class="text-center text-secondary">Jacob</h3>
				<p class="text-center text-secondary">Chambray health goth snackwave photo booth tote bag disrupt, fingerstache artisan DIY wayfarers tattooed coloring book pork belly microdosing trust fund. La croix readymade letterpress church-key, kitsch subway tile flexitarian selvage flannel thundercats.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-xs-12">
				<div class="text-center"><%= image_tag("donna1.jpg", class: "img-fluid profile-img") %></div>
				<h3 class="text-center text-secondary">Donna</h3>
				<p class="text-center text-secondary">Chambray health goth snackwave photo booth tote bag disrupt, fingerstache artisan DIY wayfarers tattooed coloring book pork belly microdosing trust fund. La croix readymade letterpress church-key, kitsch subway tile flexitarian selvage flannel thundercats.</p>
			</div>
		</div>
	</div>
</div>