<div class="pear-background" id="home">
      <div class="floating-title light-filter">
        <h1>GINGER PEAR BELLINI & NEXT DAY PEAR SPINACH DETOX JUICE</h1>
      </div>
      <div class="destination" id="ginger-pear-bellini">
      </div>
    </div>

    <div class="container-fluid container-recipe">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <h2 class="text-secondary">Ingredients</h2>
            <ul class="text-secondary">
              <li>1 ripe pear</li>
              <li>1/2 cup water</li>
              <li>1/2 cup sugar</li>
              <li>4" piece of fresh ginger, quartered</li>
              <li>champagne</li>
            </ul>
            <h2 class="text-secondary">Method</h2>
            <ul class="text-secondary">
              <li>Puree pear in a food processor, set aside.</li>
              <li>Combine the water, sugar and ginger in a small sauce pan. Bring to a boil and stir until sugar is dissolved. Cover, turn the heat off and let sit for 30 minutes.</li>
              <li>Remove ginger pieces, pour the syrup into the pear puree, stir, cover and refrigerate until cold.</li>
              <li>Once cold, spoon about 2 tablespoons of the puree mixture into a champagne flute, top with champagne and enjoy!</li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <article class="pear-ginger-bellini">
            <h1 class="custom-title">Ginger Pear Bellini</h1>
          </article>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <h2 class="text-secondary">We do love a good drink</h2>
            <p class="text-secondary">Now that Santa’s left town you know what that means, right? Time to party! And if there’s one day to do a beverage right, it’s definitely New Year’s Eve. This year we’re making pears work double time – a ginger pear champagne cocktail for New Year’s Eve and a detoxifying green juice for the morning after.</p>
            <p class="text-secondary">When it comes to cocktails, I like to keep it simple. Then you can add a not-so-common flavor combination – like pear and ginger – to make it feel fancy. For this Bellini all you need to do is make a simple syrup, puree some fruit and pop open a bottle of bubbly.</p>
        </div>
      </div>
    </div>

    <div class="green-background">
      <div class="floating-green-title">
        <h1>ORGANIC</h1>
        <h1>&</h1>
        <h1>GLUTEN FREE</h1>
      </div>
      <div class="destination" id="pear-spinach-detox-juice">
      </div>
    </div>

    <div class="container-fluid container-recipe">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <h2 class="text-secondary">Ingredients</h2>
            <ul class="text-secondary">
              <li>1 large cucumber, roughly chopped</li>
              <li>2 ripe pears, roughly chopped</li>
              <li>1 cup packed baby spinach</li>
              <li>1 inch piece of fresh ginger</li>
              <li>1/2 a lemon</li>
            </ul>
            <h2 class="text-secondary">Method</h2>
            <ul class="text-secondary">
              <li>Add all the ingredients to a juicer, stir and enjoy!</li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <article class="pear-ginger-juice">
            <h1 class="custom-title">Pear Ginger Spinach Detox Juice</h1>
          </article>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <h2 class="text-secondary">Ain't nobody got time to be hungover!</h2>
            <p class="text-secondary">Hangovers happen. And while water, aspirin, and a little time are the best ways to deal with the after-effects of drinking, little things—like what you eat—can help. Take this pressed-juice recipe, for instance. At first glance, it may seem like just a the first minus the vodka, but it's a juicing recipe for energy that will help you power through the day.</p>
            <p class="text-secondary">Full of the essential nutrients (think: vitamin C, lycopene, and hydrating water) that your body is depleted of from drinking, this pressed juice also gets a spicy kick from the added ginger. And when you're feeling too miserable to move, a quick boost of endorphins can make or break the day. Nauseated? There's a little dose of stomach-soothing ginger to help you out too.</p>
        </div>
      </div>
    </div>

    <div class="beard-background">
      <div class="floating-beard-title">
        <h1>DRINK WITH A BEARD</h1>
        <h1>WHY?</h1>
        <h1>BECAUSE HIPSTER</h1>

      </div>
    </div>